#dropzone {
  vertical-align: middle;
  width: 100%;
  min-height: 150px;
  height: 100%;
  margin: 20px;
  padding: 10px;
  border: 4px solid #444168;
  border-radius: 7px;
}
.header{
  margin-top::20px;
  padding:5px;
}
p{
  text-align: center;
}
.col{
  text-align: center;
}
img{
  width:10%;
  height:10%;
}
#boxtitle {
  vertical-align: middle;
  color: black;
  width: 100%;
  height: 100%;
}
#csvdiv{

  border-radius: 5px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  min-height: 150px;
  background-color: rgba(34,116,93,.4);
  width: 100%;
  height: 100%;
  margin: 20px;
  padding: 10px;
}
.button{
  text-align: left;
}
body {
font-family: 'Arvo', serif;
  text-align: center;
  background-color: #dbdcff;

}
.best{
  background-color: 	#0d512d;
  color:#ffffff;
}
